<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>All Posts</h1>

    <hr />

    <div class="post-container">
      <% for( let post of posts) { %>

      <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>

        <div class="view-post">
          <a href="http://localhost:8080/posts/details/<%= post.id %>"
            >View Post</a
          >
          <a href="http://localhost:8080/posts/<%= post.id %>/edit"
            >Edit Post</a
          >

          <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
            <button class="del-btn">Delete Post</button>
          </form>
        </div>
      </div>

      <% } %>
    </div>
    <div class="create_post">
      <a href="http://localhost:8080/posts/new">Create New Post</a>
    </div>
  </body>
</html>
